* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #383838;
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    margin-top: 1rem;
}

.contact-form input,
.contact-form textarea {
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: none;
    outline: none;
}

.submit-btn {
    background-color: #5e5eff;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #5050ff;
}