@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* navbar */
.navbar {
    background-color: var(--main-bg) !important;
    transition: background-color 0.4s ease-in-out;
}

.navbar.scrolled {
    background-color: var(--purple-dark) !important;
}

.nav-link,
.navbar-brand {
    color: var(--white) !important;
}

.nav-item:hover {
    background-color: var(--purple);
    border-radius: 10px;
    transition: background-color 0.5s;
}

.navbar-toggler-icon {
    background-image: url("../assets/svg/hamburger.svg") !important;
}

/* home section  */
.home {
    min-height: 100vh;
    background: var(--main-bg);
    color: var(--white);
    margin-top: 50px;
    padding: 0rem 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.home-left p {
    position: relative;
    z-index: 100;
    font-size: 2rem;
}

.home-left button {
    position: relative;
    z-index: 100;
}

.home-right {
    /* showing after checking the current hrs via js */
    visibility: hidden;
}

.home-right img {
    position: relative;
    z-index: 100;
    width: 400px;
    filter: drop-shadow(-3px -3px 2px var(--white));
}

/* about  */
.about {
    background: var(--main-bg-dark);
    color: var(--white);
    padding: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.about-left img {
    width: 250px;
    border: 1px solid var(--purple);
    border-radius: 50%;
    box-shadow: var(--purple-low) 1px 0 20px 1px;
}

.about-right p {
    font-size: 1.2rem;
    padding: 0 1rem;
}

/* skills */
.skills {
    background: var(--main-bg-cool);
    color: var(--white);
    padding: 6rem 8rem;
    align-items: center;
}

.skill-container {
    display: grid;
    grid-gap: 10px 50px;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

.skill-item {
    display: flex;
    width: 100%;
    background-color: var(--main-bg);
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: var(--purple-low) 1px 0 20px 1px;
}

.skill-item img {
    margin-right: 10px;
}

.skill-details {
    width: 100%;
    padding-right: 10px;
}

.skill-details h5,
.skill-details .skill-progress-bar {
    position: relative;
    top: 10px;
}

.skills .section-heading .heading-underline {
    border: 2px solid var(--main-bg);
}

/* portfolio  */
.portfolio {
    background: var(--main-bg-dark);
    color: var(--white);
    padding: 6rem 8rem;
    align-items: center;
}

.portfolio-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1rem;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.portfolio-item img {
    border-radius: 10px;
    width: 100%;
}

.portfolio-item .button-group button {
    margin-left: 0 !important;
}

.button-group {
    position: absolute;
    bottom: 1px;
    left: 1px;
}

.button-group .my-btn {
    border-radius: 10px;
}

.content {
    position: relative;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.12em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}


/* contact  */
#contact {
    background-color: var(--main-bg-cool);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: 80px 50px;
    display: flex;
    flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
    width: 50%;
    padding: 2rem;
}


.contact-links {
    background-color: #1f2e43;
    background:
        radial-gradient(circle at 55% 92%, #426691 0 12%, transparent 12.2%),
        radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%),
        radial-gradient(circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%),
        radial-gradient(circle at 0% 0%, #263a53 0 40%, transparent 40.2%),
        #1f2e43;
    border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
    background-color: #ffffff8f;
    border-radius: 0 10px 10px 0;
}

.contact-links h2 {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: clamp(30px, 6vw, 60px);
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.link {
    margin: 10px;
    cursor: pointer;
    background-color: var(--main-bg-light);
    border-radius: 10px;
}

.contact-links .links .link a img {
    width: 45px;
    height: 45px;
    transition: 0.2s;
    user-select: none;
    border-radius: 10px;
}

.contact-links .links .link a img:hover {
    transform: scale(1.1, 1.1);
}

.contact-links .links .link a img:active {
    transform: scale(1.1, 1.1);
    filter:
        hue-rotate(220deg) drop-shadow(2px 4px 4px #222) sepia(0.3);
}

.form-item {
    position: relative;
}

label,
input,
textarea {
    font-family: 'Poppins', sans-serif;
}

label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
}

input,
textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label,
input:valid+label,
textarea:focus+label,
textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
}

.submit-btn {
    background-color: var(--purple);
    filter: drop-shadow(2px 2px 3px #0003);
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.submit-btn:hover {
    transform: scale(1.1, 1.1);
}

.submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
}

/* timeline  */

.modal-body {
    padding: 0 !important;
}

.timeline ul {
    padding: 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    margin-left: 20px;
    padding-top: 50px;
    background: var(--white);
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline ul li div {
    border: 2px solid var(--white);
    border-radius: 10px;
    position: relative;
    bottom: 0;
    width: 675px;
    padding: 15px;
    background: var(--main-bg-cool);
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--white) transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: 45px;
}

.timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--white) transparent transparent;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.timeline-image {
    width: 100%;
    border-radius: 10px;
}

.timeline-web-link {
    text-decoration: underline;
}

/* transition effects for timeline */

.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: var(--main-bg-cool);
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* media queries for timline modal */

@media screen and (min-width: 320px) {
    .timeline ul li {
        margin-left: 10px;
    }

    .timeline ul li div {
        width: 220px;
    }
}

@media screen and (min-width: 375px) {
    .timeline ul li {
        margin-left: 15px;
    }

    .timeline ul li div {
        width: 270px;
    }
}

@media screen and (min-width: 425px) {
    .timeline ul li {
        margin-left: 15px;
    }

    .timeline ul li div {
        width: 320px;
    }
}

@media screen and (min-width: 576px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: 330px;
    }
}

@media screen and (min-width: 768px) {
    .timeline ul li div {
        width: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .timeline ul li div {
        width: 675px;
    }
}

/* EXTRA/CLIP PATH STYLES */
.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
}

.timeline-heptagon ul li::after {
    clip-path: polygon(50% 0%,
            90% 20%,
            100% 60%,
            75% 100%,
            25% 100%,
            0% 60%,
            10% 20%);
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.25);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

/* footer  */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--main-bg-dark);
    height: 5rem;
}

footer p {
    font-size: 1.2rem;
    color: #bebebe;
}

footer a {
    font-size: 1.2rem;
    color: #bebebe;
}

footer img {
    height: 30px;
}